* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: gray;
  color: white;
  font-weight: bold;
  width: 800px;
}

.el1 {
  background: #321325;
}

.el2 {
  background: #5f0f40;
}

.el3 {
  background: #9a031e;
}

.el4 {
  background: #cb793a;
}

.el5 {
  background: #fcdc4d;
}

.el6 {
  background: #3c3101;
}
